body {
	/*background: url(../images/dock.JPG) no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;*/
	font-size:100%;
	background-color: black;
	font-family:Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

.slicknav_menu {
	display: inline-block;
}


@media screen and (max-width: 1040em) {
	.js #menu {
		display:none;
		float: left;
	}
	
	.js .slicknav_menu {
		display: inline-block;
		padding: 3px 10px 1px;
	}
}


#myVideo {
    position: static;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 90%;
}
