body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("../images/dock.jpg");
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
	background-color: black;
}
	

