<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Clayton Hanson</title>
  <link href="https://fonts.googleapis.com/css?family=Trocchi|Anton" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div :class="['bg', bg]">
    <header>
      <nav>
        <ul>
          <li><a class="link-bio" href="#bio" @click="bg = 'bio'">Bio</a></li>
          <li><a class="link-projects" href="#projects" @click="bg = 'projects'">Projects</a></li>
          <li><a class="link-find-me" href="#findme" @click="bg = 'find-me'">Find Me</a></li>
        </ul>
      </nav>
      <div class="transition transition-bio"></div>
      <div class="transition transition-projects"></div>
      <div class="transition transition-find-me"></div>
      <h1>Clayton</h1>
    </header>
    <!--<div class="dots1"></div>
    <div class="dots dots2"></div>-->
    <main>
      <transition name="slide-fade" mode="out-in">
        <p key="bio" v-if="bg==='bio'" style="font-size: 80%; padding-top: 10%;">Hi! I'm Clayton Hanson. A web developer and frequent napper.
            <br>I work at UNC Charlotte Urban Institute and in my free time I'm working on my masters in network technology - web services at East Carolina University.


        </p>
        <p key="projects" v-if="bg==='projects'" style="font-size: 80%;padding-top: 10%;">One of the things that I'm proud of is building a congressional data company and selling it in less than three years.
            <br>I've created sites for lobbyists in DC, maintained sites for national non-profit organizations in New York City, and created data streams for some of the biggest news organizations in the world. </p>
        <p key="find-me" v-if="bg==='find-me'" style="font-size: 80%;padding-top: 10%;">Here's my <a href="https://www.linkedin.com/in/claytonhanson/" target="_blank" rel="noopener">LinkedIn</a>.
            <br>I have a <a href="https://public.tableau.com/profile/clayton3537#!/?newProfile=&activeTab=0" target="_blank" rel="noopener">Tableau</a> page for data vizualization.
            <br>Lastly, I have a <a href="https://mrhanson3.github.io/pages/blog.html" target="_blank" rel="noopener">blog</a> that I use to post some thoughts, some homework for classes, and other things that I find interesting.</p>
      <transition>
    </main>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>


    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123828557-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123828557-1');
</script>


  </body>

</html>
